@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    padding: 9px 8%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    width: 110px;
    height: 90px
}

#login{
    width: 60px;
    height: auto;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #253567;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 200px) {
    #nav_list,
    #navbar .login {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}

section {
    padding: 28px 8%;
}

h1 {
    color: #253567;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    color: #1d1d1d;
    font-size: 2rem;
    margin: 20px 0 10px;
}

p, li {
    color: #434343;
    font-size: 1.125rem;
    line-height: 1.6;
}

ul, ol {
    margin-left: 20px;
}


.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253567;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.btn-default:hover {
    background-color: #313e64;
}

.btn-back {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #253567;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .conteudo #banneraulas img {
        width: 100%; 
        max-width: 300px; 
        height: auto; 
    }
    .btn-back {
        position: fixed;
        bottom: 10px;
        left: 10px;
        background-color: #253567;
        color: white;
        padding: 10px 14px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 600;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }
    
    .btn-back:hover {
        background-color: rgb(161, 0, 0);
    }
}


#banneraulas {
    text-align: center;
    margin-bottom: 100px;
}

#banneraulas img {
    width: 700px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
